.example-card {
  max-width: 400px;
  background-color: var(--gray-color);
}

.sleep-advice {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  text-align: left;
}

h4 {
  font-size: 30px;
  color: var(--accent-color);
}

mat-card-header {
  display: flex;
  flex-direction: column;
}
