version: "3.4"
services:
  backend:
    build: .
    volumes:
      - .:/code
    ports:
      - "9000:9000"
    environment:
      - DATABASE_URL=k8s-40b17863-af56bd00-60d9960a90-25f20b8a1a8e2ff3.elb.us-east-1.amazonaws.com
      - JWT_SECRET=k8UPGvLZLtAIx200kGo2T0oDYNVduIujO1ogxJCyofk
      - IRIS_USERNAME=SQLAdmin
      - IRIS_PASSWORD=Asddfdjkfklsd453!
      - DATABASE_PORT=1972
      - IRIS_NAMESPACE=USER
  frontend:
    build: ./web-app/
    volumes:
      - .:/web
    ports:
      - "8080:80"