/* You can add global styles to this file, and also import other style files */
@import url("./commonstyles.scss");

@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Inder", sans-serif;
}

.header,
.footer {
  height: 7vh;
  background-color: #182842;
}
