.big-logo {
  background: url("../../../assets/sheep-1.png") center no-repeat;
  height: 266px;
  width: 100%;
}

.register-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 10px;
  color: var(--accent-color);
}
