<form class="user-form" [formGroup]="addInfoForm" (ngSubmit)="submitForm()">
  <div class="field">
    <label>Activity:</label>
    <mat-radio-group formControlName="activity" #activity>
      <mat-radio-button color="primary" value="light">light</mat-radio-button>
      <mat-radio-button color="primary" value="medium">medium</mat-radio-button>
      <mat-radio-button color="primary" value="hard">hard</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="field">
    <label>Cups of cofee:</label>
    <mat-radio-group formControlName="coffee" #coffee>
      <mat-radio-button color="primary" value="1">0-1</mat-radio-button>
      <mat-radio-button color="primary" value="2">2-3</mat-radio-button>
      <mat-radio-button color="primary" value="3">> 3 </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="field">
    <label>Bed accessories:</label>
    <mat-radio-group formControlName="comfort" #comfort>
      <div>
        <mat-radio-button color="primary" value="1">not bad</mat-radio-button>
      </div>
      <div>
        <mat-radio-button color="primary" value="2">ok</mat-radio-button>
      </div>
      <div>
        <mat-radio-button color="primary" value="3"
          >absolutely comfortable
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>
  <div class="field">
    <label>Stress' level:</label>
    <mat-radio-group formControlName="stress" #stress>
      <div>
        <mat-radio-button color="primary" value="1"
          >I am happy</mat-radio-button
        >
      </div>
      <div>
        <mat-radio-button color="primary" value="2">Not bad</mat-radio-button>
      </div>
      <div>
        <mat-radio-button color="primary" value="3"
          >Dangerous
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>
  <div class="field">
    <label>Good emotions before sleep:</label>
    <mat-radio-group formControlName="emotion" #emotion>
      <mat-radio-button color="primary" value="1">No</mat-radio-button>
      <mat-radio-button color="primary" value="2">Yes</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="field">
    <label>Do You sleep with the light:</label>
    <div>
      <mat-radio-group formControlName="light" #light>
        <mat-radio-button color="primary" value="1">No</mat-radio-button>
        <mat-radio-button color="primary" value="2">Yes</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="field field-time-group">
    <div class="field__time">
      <mat-form-field>
        <label>Bedtime:</label>
        <input matInput type="time" formControlName="start_time" #start_time />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="date" formControlName="start_day" #start_day />
      </mat-form-field>
    </div>
    <div class="field__time">
      <mat-form-field>
        <label>Wake-up time:</label>
        <input matInput type="time" formControlName="end_time" #end_time />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="date" formControlName="end_day" #end_day />
      </mat-form-field>
    </div>
  </div>
  <div class="field">
    <label>Your feeling in the morning:</label>
    <mat-radio-group formControlName="quality" #quality>
      <div>
        <mat-radio-button color="primary" value="1"
          >Is it all? I want to sleep</mat-radio-button
        >
      </div>
      <div>
        <mat-radio-button color="primary" value="2">I am ok</mat-radio-button>
      </div>
      <div>
        <mat-radio-button color="primary" value="3"
          >Wooow! The world is mine!</mat-radio-button
        >
      </div>
    </mat-radio-group>
  </div>
  <button
    class="btn-gold"
    color="primary"
    mat-raised-button
    cdkFocusInitial
    type="submit"
    [disabled]="addInfoForm.invalid"
  >
    Submit
  </button>
</form>
