label {
  font-weight: 600;
}

.field::after,
.field::before {
  content: "";
  width: 100%;
  margin: 5px 0;
  border-bottom: 1px solid #d1d7dc;
}

.field {
  margin-bottom: 10px;

  label {
    margin-right: 10px;
  }
}

.field-time-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
