<div class="page-light">
  <div class="main-container">
    <div class="page">
      <div class="content">
        <h3>About:</h3>
        <h5>
          THIS APP - an example of using InterSystems IRIS Cloud SQL and
          IntegratedML to sleep analysis
        </h5>
        <p>
          This project demonstrates a variant of project development with a
          database deployment in InterSystems IRIS Cloud SQL and using
          IntegratedML. The theme of our application is user sleep quality
          monitoring and analysis. The client side of our application was
          developed using Angular (TS). The server side of our application was
          developed using FastAPI (Python), DB-API was used to connect to the
          database. The database is hosted in InterSystems IRIS Cloud SQL, and
          we used one of its features, IntegratedML, to predict sleep quality.
        </p>
        <h5>InterSystems IRIS Cloud SQL</h5>
        <p>
          We use the DB-API to connect to IRIS Cloud SQL from within our
          application. To do this, we set up a deployment in the IRIS Cloud SQL
          portal and write the connection data in .env file. The database
          connection is in the file database.py.
        </p>
        <h5>IntegratedML</h5>
        <p>
          The "sleeps" table of our database is populated with the generated
          data (you can find the code to auto-populate the table at
          generator.py). Then the machine learning algorithms provided by the
          cloud portal in the corresponding sections (Create, Train, Validate)
          are sequentially applied to the data of this table. Then a sql-query
          is generated in the Prediction section, which we use in our code for
          sleep analysis. Example of a sql-query being used: SELECT
          PREDICT(sleeps use sleeps) as prediction, quality, PROBABILITY(sleeps
          use sleeps for '3') as probability_quality, * FROM SQLUser.Sleeps
          where user_id = 1 and id = 1
        </p>

        <div>
          <h5>Developers of project:</h5>
          <p>Backend: Maria Gladkova</p>
          <p>Backend: Maria Nesterenko</p>
          <p>Frontend: Katsiaryna Shaustruk</p>
        </div>
        <h5>
          Documentation:
          <a
            href="https://github.com/banksiaglobal/SleepTracker"
            target="_blank"
            >github</a
          >
        </h5>
      </div>

      <div class="registre-box" *ngIf="!isUser">
        <div class="registre-box-title">
          <div class="registre-box-title white-font title-mini bolder-weight">
            Boost your sleep.
          </div>
          <div
            class="registre-box-title dark-gray-font title-mini bolder-weight"
          >
            Start using 'Sheep's galaxy' today.
          </div>
        </div>
        <div class="registre-box-btns">
          <button
            mat-raised-button
            color="primary"
            (click)="clickGoToRegistrePage()"
          >
            Sign up for free
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="clickGoToLoginPage()"
          >
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
